body {
	background-image: url('http://i393.photobucket.com/albums/pp19/Althecoding1/backgroundblur_zpsmnka2uwh.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#title {
	font-family: formula1;
	position: relative;
	font-weight: bolder;
}


.questionBox {
	text-align: center;
	top: 4em;
	left: 15%;
	height: 10em;
	width: 35em;
	position: relative;
	opacity: 1;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}
#question {
font-size: 1.7em;
	height: 100%;
	width: 100%;
	position: relative;
	text-align: center;
	text-shadow: 2px 2px #bcbdbd;
}

h3 {
	position:relative;
	
}

#content {
	font-weight:bold;
	position: relative;
	text-align: center;

}

#answers {
	text-shadow: 2px 2px #bcbdbd;
	position:relative;
	bottom: 4em;
	left: 60%;
	width: 15%;
	font-size: 1.5em;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.questionImgs {
	
	position: relative;
	
}
 h1 {
 	text-shadow: 2px 2px #bcbdbd;
 }
 #submit {
 	position: relative;
 	border-radius: 20%;
 	top: 8%;
 	background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
 }
#submit:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#allCorrect {
	font-family: formula1;
}
#scoreCard {
	font-family: formula1;
}


@font-face {
	font-family: formula1;
	src: url(concbv2.ttf);
}

/* Bubble Float Right */
.hvr-bubble-float-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-right:before {
  position: absolute;
  z-index: -1;
  top: calc(50% - 10px);
  right: 0;
  content: '';
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e1e1e1;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-right:hover, .hvr-bubble-float-right:focus, .hvr-bubble-float-right:active {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
.hvr-bubble-float-right:hover:before, .hvr-bubble-float-right:focus:before, .hvr-bubble-float-right:active:before {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}