body {
	background-image: url('http://i393.photobucket.com/albums/pp19/Althecoding1/backgroundblur_zpsmnka2uwh.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#title {
	font-family: formula1;
	position: relative;
	font-weight: bolder;
}

#question {
	font-size: 1.2em;
	height: 8em;
	width: 16em;
	position: relative;
	left: 27%;
	top: 7em;
	text-shadow: 2px 2px #bcbdbd;
}

h3 {
	position:relative;
	
}

#content {
	font-weight:bold;
	position: relative;
	text-align: center;

}

#answers {
	text-shadow: 2px 2px #bcbdbd;
	position:relative;
	bottom: 2em;
	left: 40%;
	width: 50%;
}

#questionImgs {
	
	position: relative;
	
}
 h1 {
 	text-shadow: 2px 2px #bcbdbd;
 }
 #submit {
 	position: relative;
 	left:47.2%;
 	top: 8%;
 	width: 5%;
 }
#allCorrect {
	font-family: formula1;
}
#scoreCard {
	font-family: formula1;
}


@font-face {
	font-family: formula1;
	src: url(concbv2.ttf);
}